body {
  font-family: 'Playfair Display', serif;
}

header {
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  font-weight: bold;
}

main .container {
  max-width: 900px;
  margin: 1.5rem auto;
}
